.post-images{
  width:60%;
  height:auto;
  margin: 0 auto;
  img{
    width: 100%;
    height: auto;
  }
}

.postShowMain{
  .alignRight{
    text-align: right;
  }


  height: 100%;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
