<main class="mainPosts" >

  <h1>All Posts</h1>

  <% if user_signed_in? %>
    <div>
      <br>
      <p>Welcome, <%= current_user.name %></p>
      <p><strong>Only the gang can see this section.</strong></p>
      <p><%= link_to 'new blog post', new_post_path %></p>
      <br>
    </div>
  <% end %>

  <div>
    <% @posts.each do |post| %>
      <%= render 'shared/cards/post_card' , post: post%>
    <% end %>
  </div>

</main>
