<main class="mainPosts" >

  <h1>All Posts</h1>

  <%= link_to 'New Post', new_post_path %>

  <div>
    <% @posts.each do |post| %>
      <%= render 'shared/cards/post_card' , post: post%>
    <% end %>
  </div>

</main>
